@model IEnumerable<Sistema_Web_Casa_Surá.Entities.VerUsuarioObj>
@{
    ViewData["Title"] = "VerClientes";
}

<div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="page-title">Clientes</h4>
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                            <span class="day-name" id="Day_Name">Fecha:</span>&nbsp;
                                            <span class="" id="Select_date">Jan 11</span>
                                            <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                                        </a>
                                    </div>
                                </div>                                                            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                        <a href="@Url.Action("RegistrarCliente","Clientes")" class="btn btn-outline-primary waves-effect waves-light"> Registrar cliente </a>
                            <br />
                            <br />
                                    <table id="tablaClientes" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>Cédula</th>
                                            <th>Nombre</th>
                                            <th>Primer Apellido</th>
                                            <th>Segundo Apellido</th>
                                            <th>Provincia</th>
                                            <th>Cantón</th>
                                            <th>Distrito</th>
                                            <th>Dirección exacta</th>
                                            <th>Número de teléfono</th>
                                            <th>Correo electrónico</th>
                                            <th>Acciones</th>
                                        </thead>
                                        <tbody>
                                    @foreach (var item in Model)
                                    {
                                    @if(item.IdRol == 1)
                                    {

                                    }
                                    else
                                    {
                                         <tr>
                                            <td>@item.Cedula</td>
                                            <td>@item.Nombre</td>
                                            <td>@item.Papellido</td>                          
                                            <td>@item.Sapellido</td>
                                            <td>@item.Provincia</td>
                                            <td>@item.Canton</td>
                                            <td>@item.Distrito</td>
                                            <td>@item.DireccionExacta</td>
                                            <td>@item.Telefono</td>
                                            <td>@item.CorreoElectronico</td>
                                            <td>
                                                <a href="@Url.Action("EditarCliente","Clientes", new {Ced = item.Cedula})" type="button" class="btn btn-sm btn-outline-info mr-2"><i class="las la-pen text-info font-18"></i></a>
                                                <a onclick="Confirmar(@item.Cedula)" class="btn btn-sm btn-outline-info mr-2" ><i class="las la-trash-alt text-danger font-18"></i></a>
                                            </td>
                                        </tr>
                                    }
                                   
                                    }
                                        </tbody>
                                    </table>        
                                </div>
                            </div>
                        </div> 
                    </div> 

                </div>
            </div>



@section Scripts
{
    <script src="~/plugins/sweet-alert2/sweetalert2.min.js"></script>
    <script src="~/pages/jquery.sweet-alert.init.js"></script>

<script>

            $(document).ready(function () {
            $('#tablaClientes').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
            });
        });

        function Confirmar(cedula) {
            swal.fire({
                title: '¿ Estás seguro de eliminar este cliente ?',
                text: "No podrás revertir el cambio",
                //type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        url: '../Clientes/EliminarCliente',
                        data: { 'cedula': cedula },
                        type: 'POST',
                        dataType: 'json',
                        success: function (respuesta) {

                        }
                    });
                    swal.fire(
                        'Eliminada!',
                        'El cliente ha sido eliminado',
                        'success'

                    )
                    setTimeout(function () {
                        window.location.reload(true);
                    }, 2000);
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swal.fire(
                        'Cancelado',
                        'El cliente no ha sido eliminado',
                        'error'
                    )
                }
            });
        }
</script>
}