@model Sistema_Web_Casa_Surá.Entities.ProveedoresObj
@{
    ViewData["Title"] = "EditarProveedores";
}
<div class="page-content">
    <div class="container-fluid">
        @using (Html.BeginForm("EditarProveedores", "Proveedores", FormMethod.Post))
             {
        <div class="card-body">
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Nombre de proveedores</label>
                <div class="col-lg-9 col-xl-8">
                    @Html.TextBoxFor(m => m.NOMBRE, new{@class = "form-control"})
                    <span asp-validation-for="NOMBRE" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Nombre de la empresa</label>
                <div class="col-lg-9 col-xl-8">
                    @Html.TextBoxFor(m => m.EMPRESA, new{@class = "form-control"})
                    <span asp-validation-for="EMPRESA" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Número de Teléfono</label>
                <div class="col-lg-9 col-xl-8">
                    @Html.TextBoxFor(m => m.TEL, new{@class = "form-control"})
                    <span asp-validation-for="TEL" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Correo electrónico</label>
                <div class="col-lg-9 col-xl-8">
                    @Html.TextBoxFor(m => m.CORREO, new{@class = "form-control"})
                    <span asp-validation-for="CORREO" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-9 col-xl-8 offset-lg-3">
                    <button type="submit" class="btn btn-primary btn-sm">Editar</button>
                    <a href="@Url.Action("VerProveedores","Proveedores")" type="button" class="btn btn-danger btn-sm">Cancelar</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>